@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Display:ital@0;1&display=swap');

.VideoBlock {
    width: 100vw;
    height: 40vmin;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.VideoBlock video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.VideoBlock .header h1 {
    font-family: 'Bebas Neue';
    font-size: 18vmin;
    font-weight: 400;
    color: white;
    position: relative;
    opacity: 0.9;
    text-shadow: -0.5vmin 0.5vmin 1.5vmin #1b1c12;
}

.VideoBlock .header h2 {
    font-family: 'DM Serif Display';
    font-size: 4vmin;
    font-weight: 400;
    color: white;
    position: relative;
    text-shadow: -0.5vmin 0.5vmin 1.5vmin #1b1c12;
}
