@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Arimo:wght@500&family=Dela+Gothic+One&family=Kanit&family=Open+Sans:ital,wght@0,300;0,400;1,400&family=Orbitron&family=Oswald:wght@500&family=Poiret+One&family=Poppins&family=Sulphur+Point:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Display:ital@0;1&display=swap');
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  margin: 0;
}

.a-block {
  background-color: #0C356A;
  width: 100%;
  color: white;
}

.b-block {
  background-color: #FFC436;
  width: 100%;
}

.c-block {
  background-color: #0174BE;
  width: 100%;
}

.d-block {
  background-color: #FFF0CE;
  color: black;
  width: 100%;
}

.a-block, .b-block, .c-block, .d-block {
  padding: 2vmin 4vmin;
}

.a-block h1, .a-block h3, .b-block h1, .c-block h1 {
  color: white;
}
