@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.a-block {
  background-color: #0C356A;
  color: white;
}

.b-block {
  background-color: #FFC436;
}

.c-block {
  background-color: #0174BE;
}

.d-block {
  background-color: #FFF0CE;
  color: black;
}

.a-block, .b-block, .c-block, .d-block {
  padding: 2vmin 4vmin;
}

.a-block h1, .b-block h1, .c-block h1 {
  color: white;
}
